#menu{
	background: #1C1C1C;
	width: 100%;
	height: 70px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-bottom: 1px solid #696969;
}
a {
	 text-decoration: none;
}
.mbut{
	color: #F2FD3F;
	height: 45px;
	font-family: Georgia;
	font-size: 18px;
	padding-top: 25px;
	padding-right: 7px;
	padding-left: 7px; 
	 transition-property: background, color;
     transition-duration: 0.5s;
     transition-delay: 0s;
     transition-timing-function: linear;
	}
.mbut:hover{
	
	
	color: #1C1C1C;
	background: #F2FD3F;
	

}

#button_1{left:100px;}
#button_2{left:260px;}
#button_3{left:329px;}
#button_4{left:475px;}
#button_5{left:657px;}
#button_6{left:870px;}

#titul{
	position: absolute;
	background: #363636;
	width: 100%;
	height: 200px;
	top:71px;
	left: 0;
	border-bottom: 5px solid #F2FD3F;
}

#content_1{
	background: #FFFF00;
	margin-top: 250px;
	width: 70%;
	margin-left: 16%;
	margin-right:15%;
	border: 3px solid #363636;
	padding-bottom: 50px;
	 border-bottom-left-radius: 70px;
     border-bottom-right-radius: 70px;  
     border-top-left-radius:70px;
     border-top-right-radius:70px;
     margin-bottom: 50px;
    }
.text_2{
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 50px;
	font-size: 18px;
    font-family: Georgia;
    color: #363636;
}	
#content_2{
	background: white;
	margin-top: 50px;
	width: 70%;
	margin-left: 16%;
	margin-right:15%;
	border: 1px solid #696969;
	padding-bottom: 50px;
	}

.text_1{
	margin-left: 50px;
	margin-top: 50px;
	font-size: 18px;
    font-family: Georgia;
    color: #363636;
}	

#footer{
	background: #363636;
	margin: -10px;
	margin-top: 50px;
	height: 50px;
	border-top: 1px solid #696969;
	width: 101%;
	left: 0;
}
.em{
	position: absolute;
	width: 125px;
	right: 200px;
	top: 23px;
	}
.zag{

    margin-top: 40px;
	width: 350px;
}

h2{
   margin-bottom: -45px;
   color: #696969;
   font-family: algerian;
   }
p{
	margin-top: 5px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	text-indent: 20px;
	text-align: justify;
}
li{
	margin-top: 8px;
}
#perev{
	margin-left: 30px;
	margin-top: 15px;
	font-size: 15px;
    font-family: arial;
    color: #363636;
}

.element,.e0,.e1,.e2,.e3,.e4,.e5,.e6{
	margin-top: 50px;
	margin-left: 50px;
	height: 38px;
	width: 31px;
    font-family: Georgia;
	overflow: hidden;
	border: solid 2px #696969;
	text-align: left;
	vertical-align: middle;
	transition-property: width;
     transition-duration: 0.5s;
     transition-delay: 0s;
     transition-timing-function: linear;
     background: #F2FD3F;
     color: #1C1C1C;
     border-bottom-left-radius: 21px;
     border-bottom-right-radius: 21px;  
     border-top-left-radius:21px;
     border-top-right-radius:21px;
     font-size: 30px;
     padding-left: 7px; 
}

.e0:hover {
	width: 670px;
}
.e1:hover {
	width: 705px;
}
.e2:hover {
	width: 670px;
}
.e3:hover {
	width: 620px;
}
.e4:hover {
	width: 710px;
}
.e5:hover {
	width: 650px;
}
.e6:hover {
	width: 110px;
}
#content_3{
	background: #1C1C1C;
	margin-top: 50px;
	width: 70%;
	margin-left: 16%;
	margin-right:15%;
	border: 3px solid #F2FD3F;
	padding-bottom: 50px;
	 border-bottom-left-radius: 70px;
     border-bottom-right-radius: 70px;  
     border-top-left-radius:70px;
     border-top-right-radius:70px;
	}
.visota{
   margin-bottom: -30px;
   color: #696969;
   font-family: algerian;
}		
.glav{
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	font-family: Georgia;
	font-size: 24px;
	color: #696969;
}    

#maket{
	 margin-left: 50px;
	 margin-top: 50px;
     color:#1C1C1C ;
     font-size: 20px;
    
     font-family: Georgia;
    
}
#but{
	font-size: 18px;
	margin-top: 50px;
	margin-left: 80px;
}